# NumPy Data Types

## Numpy 's main data type is ndarray- which means the the arry can have many dimension

 # Declaring and array

In [1]:
import numpy as np

In [3]:
array1 = np.array([1,2,3]) #one dimensional array

In [4]:
type(array1)

numpy.ndarray

In [5]:
array2 = np.array([[1,2,3,4],
                 [2,3,4,5]])

In [6]:
import pandas as pd

In [7]:
dataFrame = pd.DataFrame(array2) #creating a dataframe from the array

In [8]:
dataFrame

   0  1  2  3
0  1  2  3  4
1  2  3  4  5

In [9]:
type(dataFrame)

pandas.core.frame.DataFrame

In [10]:
newColumnNamea = ['A','B','C','D'] #changing the dataframe column names to A B C D

In [11]:
dataFrame.columns = newColumnNamea # assigning the columns name

In [12]:
dataFrame

   A  B  C  D
0  1  2  3  4
1  2  3  4  5